<div class="ui card" id ="{{name}}">
  <div class="image">
    <img src="{{image}}"> <!--Logo made in https://www.freelogodesign.org/-->
  </div>
  <div class="content">
    <div class="meta">
      <span>
      <i class="user icon"></i>
      {{employees}} Employees
      </span>
    </div>
    <div class="description">
      <i class="mail icon"></i>
      {{email}}
      <br>
      <i class="phone icon"></i>
      {{phone}}
    </div>
  </div>
  <div class="extra content">
    <a>
      Founded in {{founded}} in {{city}}
    </a>
  </div>
</div>